// wow thats the first time im using LESS :0
@bg-green: #4EC47E;    // Based on my PFP colors
@shadow-green: #27623F;//   You can use but give
@dark-green: #13311F;  //      The DAWN credits ;)

@bg-yellow: #FFBF18;   // By: PatoFlamejanteTV

@almost-black: #2D2B33;// github.com/PatoFlamejanteTV

titlebox {
    //.main{ // uhh idk why it stays here
        color: @bg-green;
        background-color: @dark-green;

        text-align: center;
    //}
}